<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 timerInputDiv" >

            <div class="panel panel-success">
                <div class="panel-body">
                    <h2>обновлять каждые <input ng-model="timeForReload" ng-keyup="validTimeForReload()"> секунд</h2>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12 timerDiv" >

            <div class="panel panel-success">
                <div class="panel-heading lineTimer" style="width: {{timeToReload*100/timeForReload}}%;"></div>
            </div>

            <div class="timerDivText" >
                время до автоматического обновления (сек): {{timeToReload}} &nbsp&nbsp&nbsp&nbsp<input type="checkbox" ng-model="checkTimer"> автообновление
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 divAll">

            <div class="panel panel-success">
                <div class="panel-heading"><h3>tag1:#<input ng-model="tagFirst" size="{{tagFirst.length}}" ng-keyup="reloadTag()"></h3></div>
                <div class="panel-body">
                    <div class="divImg">
                        <div class="imgByInst" ng-repeat="img in imgMasFirst" ng-mouseover="img.show_fon = true" ng-mouseleave="img.show_fon = false">
                            <img src="{{img.images.low_resolution.url}}" width="100%">
                            <div class="fon" ng-show="img.show_fon"></div>

                            <div class="author" ng-show="img.show_fon" ng-click="openShow(img);">
                                <div class="wraperForAuthoImg"><img src="{{img.user.profile_picture}}" class="imgAuthor"></div>

                                <div class="wraperForText">
                                    {{img.user.username}}<br>
                                    лайки: {{img.likes.count}}<br>
                                    комментарии: {{img.comments.count}}<br>
                                    <a href="{{img.link}}" target="_blank">ссылка</a><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-4 divAll">

            <div class="panel panel-success">
                <div class="panel-heading"><h3>tag2:#<input ng-model="tagSecond" size="{{tagSecond.length}}" ng-keyup="reloadTag()"></h3></div>
                <div class="panel-body">
                    <div class="divImg">
                        <div class="imgByInst" ng-repeat="img in imgMasSecond" ng-mouseover="img.show_fon = true" ng-mouseleave="img.show_fon = false">
                            <img src="{{img.images.low_resolution.url}}" width="100%">
                            <div class="fon" ng-show="img.show_fon"></div>

                            <div class="author" ng-show="img.show_fon" ng-click="openShow(img);">
                                <div class="wraperForAuthoImg"><img src="{{img.user.profile_picture}}" class="imgAuthor"></div>

                                <div class="wraperForText">
                                    {{img.user.username}}<br>
                                    лайки: {{img.likes.count}}<br>
                                    комментарии: {{img.comments.count}}<br>
                                    <a href="{{img.link}}" target="_blank">ссылка</a><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-4 divAll">

            <div class="panel panel-success">
                <div class="panel-heading"><h3>#{{tagFirst}} with #{{tagSecond}}</h3></div>
                <div class="panel-body">
                    <div class="divImg" id="lastDiv">
                        <div class="imgByInst" ng-repeat="img in imgMasFirstWithSecond" ng-mouseover="img.show_fon = true" ng-mouseleave="img.show_fon = false">
                            <img src="{{img.images.low_resolution.url}}" width="100%">
                            <div class="fon" ng-show="img.show_fon"></div>

                            <div class="author" ng-show="img.show_fon" ng-click="openShow(img);">
                                <div class="wraperForAuthoImg"><img src="{{img.user.profile_picture}}" class="imgAuthor"></div>

                                <div class="wraperForText">
                                    {{img.user.username}}<br>
                                    лайки: {{img.likes.count}}<br>
                                    комментарии: {{img.comments.count}}<br>
                                    <a href="{{img.link}}" target="_blank">ссылка</a><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="fonShow" ng-click="showImg=false" ng-show="showImg"></div>
        <div class="divShow" ng-click="showImg=false" ng-show="showImg">
            <img src="{{objShowImg.images.standard_resolution.url}}"><br>
            {{objShowImg.user.username}}&nbsp&nbsp&nbsp&nbsp
            лайки: {{objShowImg.likes.count}}&nbsp&nbsp&nbsp&nbsp
            комментарии: {{objShowImg.comments.count}}&nbsp&nbsp&nbsp&nbsp
            <a href="{{objShowImg.link}}" target="_blank">ссылка</a><br><br>
            <div class="captionShowImg">{{objShowImg.caption.text}}</div>
        </div>
    </div>
</div>
